<!DOCTYPE html>
<html>
  <head>
    <title>Election Watch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>

      <div id="flex-content-container" style="margin-bottom: 100px; min-height: 600px;">

      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
              </button>
                <!-- <a class="navbar-brand" href="#">Election Watch Texas</a> -->
                <%= image_tag("ElectionWatchBanner.png", class:"img-responsive", id: "navbar-logo") %>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="#">District</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">District</a>
          </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>


      <%= yield %>

    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
           <div class="col-12 col-sm-3">
          <p class="text-muted">Questions? Email us here: </p>
        </div>
      </div>
    </div>
  </body>
</html>
